/*-- scss:defaults --*/

/*-- scss:rules --*/
.level-button {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-right: 5px;
}

.level-beginner {
    background-color: green;
}

.level-intermediate {
    background-color: yellow;
    color: black; /* Black text on yellow background for better contrast */
}

.level-expert {
    background-color: red;
}
